<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <h4 class="text-center my-3 pb-3">To Do App</h4>

                        <form class="row g-3 mb-4 pb-2">
                            <div class="col-9">
                                <div class="form-outline">
                                    <input type="text" id="form1" class="form-control" placeholder="Task title" />
                                </div>
                            </div>

                            <div class="col-3 text-end">
                                <button type="submit" class="btn btn-primary">Add Task</button>
                            </div>

                        </form>

                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Todo item</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let task of tasks; let i = index">
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{task.title}}</td>
                                    <td>
                                        <ng-container [ngSwitch]="task.status">
                                            <span *ngSwitchCase="1" class="text-danger">Pendding</span>
                                            <span *ngSwitchCase="2" class="text-warning">In Progress</span>
                                            <span *ngSwitchCase="3" class="text-success">Done!</span>
                                            <span *ngSwitchDefault class="text-dark">NONE</span>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <button *ngIf="task.status == 2" type="button"
                                            class="btn btn-outline-success mx-1">Finished</button>

                                        <ng-container *ngIf="task.status == 3; else taskStatusOtherThan3">
                                            <button type="button" class="btn btn-outline-warning mx-1">Undo</button>
                                        </ng-container>

                                        <ng-template #taskStatusOtherThan3>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </ng-template>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>